<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

	<head>
		<title>Sala {{ko.broj}}</title>
        <meta charset="utf-8">
	</head>
	<body>
		<div class="unos">
			<h1>Sala {{ko.broj}} : {{ko.naziv}}</h1><br />

			<form method="POST" action="ObrisiSalu" onSubmit="return proveri();"><input type="submit" class="sub" value="Obriši" ></form>

		</div>
		<form method="POST" action="IzmeniSalu" onSubmit="return proveri();" >
            <table>
				<tr>
					<th align="right">Broj </th>
					<th><input type="text" name="broj" id="broj" value="{{ko.broj}}"></th>
					<th align="left"><label id="lbroj" style="color: red;"></label></th>
				</tr>
                <tr>
					<th align="right">Naziv </th>
					<th><input type="text" name="naziv" id="naziv" value="{{ko.naziv}}"></th>
					<th align="left"><label id="lnaziv" style="color: red;"></label></th>
				</tr>
				<tr>
					<th align="right">Klinika kojoj pripada </th>
					<th align="left"><select name="klinika" id="klinika">
						<!-- TODO: options -->
					</select></th>
					<th align="left"><label id="lklinika" style="color: red;"></label></th>
				</tr>
				<tr>
					<th align="right">Opis </th>
					<th><input type="text" name="opis" id="opis" value="{{ko.opis}}"></th>
					<th align="left"><label id="lopis" style="color: red;"></label></th>
				</tr>
                <tr>
                    <th></th>
                    <th align="left"><input type="submit" class="sub" value="Sacuvaj Promene"></th>
					<th align="left"><label style="color: red;">
                    <!-- povratna poruka -->
					</label></th>
                </tr>
			</table>
		</form>
		<script>
			function proveri() {
				var popunjeno = true;

				if(document.getElementById("broj").value == ""){
					popunjeno = false
					document.getElementById('lbroj').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('lbroj').innerHTML = '';
				}

				if(document.getElementById("naziv").value == ""){
					popunjeno = false
					document.getElementById('lnaziv').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('lnaziv').innerHTML = '';
				}

				if(document.getElementById("opis").value == ""){
					popunjeno = false
					document.getElementById('lopis').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('lopis').innerHTML = '';
				}

				if(!popunjeno) {alert("Morate da pravilno popunite sva polja")}
				return popunjeno;
			}
		</script>
	</body>
</html>