<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Eir</title>
    </head>
    <body>
        {% if ime != None %}
            <h1>Ulogovani ste kao {{ime}}</h1>
            <br /><br />
        {% endif %}
        Hej! Ovo je hip i moderna veb aplikacija...<br />
        <br>
        {% if ime == None %}
        <a href="korisnik/register">Registruj se</a><br />
        <a href="korisnik/login">Uloguj se</a>
        <br />
        {% endif %}
        <form action="/superadmin/register">
            <input type="submit" disabled="true" value="Registruj administratora klinike" />
        </form><br>
        <form action="/pacijent/registracija">
            <input type="submit" disabled="true" value="Registracija za pacijenta" />
        </form><br>
        <form action="login">
            <input type="submit" disabled="true" value="Login" />
        </form>
        <!--<a href="/superadmin/register">Registruj administratora klinike</a>-->
    </body>
</html>