<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>{{pacijent.ime}} {{pacijent.prezime}}</title>
		<link rel="stylesheet" href="css/stil.css">
	</head>
	<body>
<form method="POST" action="index" >{% csrf_token %}<input type="submit" class="sub" value="Pocetna Strana"></form>
		<div class="unos" style="margin-left:70px">
			<h1>{{pacijent.ime}} {{pacijent.prezime}}</h1>
			{% if cwmp == 'da' %}
				<form method="POST" action="PPregledaj" >{% csrf_token %}<input type="hidden" name="koga" value="{{pacijent.email_adresa}}"><input type="submit" class="sub" value="Pregledaj"></form>
			{% endif %}
		</div>
		<form method="POST" action="IzmeniKorisnika" onSubmit="return proveri();" >{% csrf_token %}
			<div class="unos2">
				<table>
					<tr>
						<th align="right">Ime </th>
						<th><input type="text" name="ime" id="ime" disabled value="{{pacijent.ime}}"></th>
						<th></th>
					</tr>
					<tr>
						<th align="right">Prezime </th>
						<th><input type="text" name="prezime" id="prezime" disabled value="{{pacijent.prezime}}"></th>
						<th></th>
					</tr>
					<tr>
						<th align="right">Email </th>
						<th><input type="text" name="email" id="email" disabled value="{{pacijent.email_adresa}}"></th>
						<th align="left"><label id="lemail" style="color: red;"></label></th>
					</tr>
					<tr>
						<th align="right">Broja Telefona </th>
                        <th><input type="text" name="broja_telefona"  disabled id="broja_telefona" value="{{pacijent.broja_telefona}}"></th>
						<th align="left"><label id="lbroja_telefona" style="color: red;"></label></th>
					</tr>
					<tr>
						<th align="right">Jedinstveni Broj Osiguranika </th>
						<th><input type="text" name="jedinstveni_broj_osiguranika" disabled id="jedinstveni_broj_osiguranika" value="{{pacijent.jedinstveni_broj_osiguranika}}"></th>
						<th align="left"><label id="ljedinstveni_broj_osiguranika" style="color: red;"></label></th>
					</tr>
                    <tr>
						<th align="right">Datum Registracije </th>
						<th><input type="text" name="datum" id="datum" disabled value="{{pacijent.datum}}"></th>
						<th align="left"><label id="ldatum" style="color: red;"></label></th>
					</tr>
				</table>
			</div>
		</form>

		{% if cwmp == 'da' %}
<h3>Zdravstvena Knjizica</h3>
				<table border="1">
					<tr>
						<th align="right">Ime </th>
						<th>{{pacijent.ime|safe}}</th>
					</tr>
					<tr>
						<th align="right">Prezime </th>
						<th>{{pacijent.prezime|safe}}</th>
					</tr>
					<tr>
						<th align="right">Email </th>
						<th>{{pacijent.email_adresa|safe}}</th>
					</tr>
					<tr>
						<th align="right">Broja Telefona </th>
                        <th>{{pacijent.broja_telefona|safe}}</th>
					</tr>
					<tr>
						<th align="right">Jedinstveni Broj Osiguranika </th>
						<th>{{pacijent.jedinstveni_broj_osiguranika|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Datum Registracije </th>
						<th>{{pacijent.datum|safe}}</th>
					</tr>
                    <tr>
						<th align="right"> </th>
						<th></th>
					</tr>
                    <tr>
						<th align="right">Jedinstveni Broj Osiguranika </th>
						<th>{{pacijent.jedinstveni_broj_osiguranika|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Sifra Bolesti </th>
						<th>{{pacijent.sifra_bolesti|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Sifra Bolesti </th>
						<th>{{pacijent.sifra_bolesti|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Lekovi </th>
						<th>{{pacijent.lekovi|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Dioptrija </th>
						<th>{{pacijent.dioptrija|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Alergije Na Lek </th>
						<th>{{pacijent.alergije_na_lek|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Visina </th>
						<th>{{pacijent.visina|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Tezina </th>
						<th>{{pacijent.tezina|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Krvna Grupa </th>
						<th>{{pacijent.krvna_grupa|safe}}</th>
					</tr>
                    <tr>
						<th align="right">Diagnoza </th>
						<th>{{pacijent.diagnoza|safe}}</th>
					</tr>
				</table>
		{% endif %}

		<script>
			function proveri() {
				var popunjeno = true;


				if(document.getElementById("email").value.includes("@") == false || document.getElementById("email").value.includes(".") == false){
					popunjeno = false
					document.getElementById('lemail').innerHTML = 'Email koji ste uneli je pogresan!';
				}
				else{
					document.getElementById('lemail').innerHTML = '';
				}

				if(document.getElementById("password").value == ""){
					popunjeno = false
					document.getElementById('lpassword').innerHTML = 'Ovo polje je obavezno!';
				}
				else if(document.getElementById("password").value.length < 8){
					popunjeno = false
					document.getElementById('lpassword').innerHTML = 'Lozinka mora da sadrzi minimalno 8 karaktera!';
				}
				else{
					document.getElementById('lpassword').innerHTML = '';
				}
				if(document.getElementById("password").value != document.getElementById("password2").value){
					popunjeno = false
					document.getElementById('lpassword2').innerHTML = 'Lozinke se ne poklapaju';
				}
				else{
					document.getElementById('lpassword2').innerHTML = '';
				}
				if(!popunjeno) {alert("Morate da pravilno popunite sva polja")}
				return popunjeno;
			}
		</script>
	</body>
<style>
        input[type=text], input[type=number]:not(.avs), input[type=password], select{
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: "Times New Roman", Times, serif;
          font-size: 16px;
          font-weight: bold;
        }
        .sub {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          font-family: "Times New Roman", Times, serif;
          font-size: 16px;
          cursor: pointer;
          font-weight: bold;
        }
    </style>
</html>