<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Registracija Pacijenta</title>
		<link rel="stylesheet" href="css/stil.css">
	</head>
	<body>
		<form method="POST" action="registerKorisnik" onSubmit="return proveri();">
            {% csrf_token %}
		<div class="unos">
				<table>
					<tr>
						<th align="right">E-mail </th>
						<th><input type="text" name="email" id="email" placeholder="E-maild"></th>
						<th align="left"><label id="lemail" style="color: red;"></label></th>
					</tr>
					<tr>
						<th align="right">Lozinka </th>
						<th><input type="text" name="password" id="password" placeholder="Lozinka"></th>
						<th align="left"><label id="lpassword" style="color: red;"></label></th>
					</tr>
                    <tr>
						<th align="right">Ponovite Lozinku </th>
						<th><input type="text" name="password2" id="password2" placeholder="Ponovite Lozinku"></th>
						<th align="left"><label id="lpassword2" style="color: red;"></label></th>
					</tr>
					<tr>
						<th align="right">Ime </th>
						<th><input type="text" name="ime" id="ime" placeholder="Ime"></th>
						<th align="left"><label id="lime" style="color: red;"></label></th>
					</tr>
					<tr>
						<th align="right">Prezime </th>
						<th><input type="text" name="prezime" id="prezime" placeholder="Prezime"></th>
						<th align="left"><label id="lprezime" style="color: red;"></label></th>
					</tr>
                    <tr>
						<th align="right">Adresa </th>
						<th><input type="text" name="adresa" id="adresa" placeholder="Adresa"></th>
						<th align="left"><label id="ladresa" style="color: red;"></label></th>
					</tr>
                    <tr>
						<th align="right">Grad </th>
						<th><input type="text" name="grad" id="grad" placeholder="Grad"></th>
						<th align="left"><label id="lgrad" style="color: red;"></label></th>
					</tr>
                    <tr>
						<th align="right">Država </th>
						<th><input type="text" name="drzava" id="drzava" placeholder="Država"></th>
						<th align="left"><label id="ldrzava" style="color: red;"></label></th>
					</tr>
                    <tr>
						<th align="right">Broja Telefona </th>
						<th><input type="text" name="btelefona" id="btelefona" placeholder="Broj Telefona"></th>
						<th align="left"><label id="lbtelefona" style="color: red;"></label></th>
					</tr>
                    <tr>
						<th align="right">Jedinstveni broj osiguranika </th>
						<th><input type="text" name="jmbgnt" id="jmbgnt"  placeholder="Jedinstveni broj osiguranika"></th>
						<th align="left"><label id="ljmbgnt" style="color: red;"></label></th>
					</tr>
					<tr>
						<th></th>
						<th align="left"><input type="submit" class="sub" value="Dodaj"></th>
						<th align="left"><label style="color: red;">
                            {% if messages|length > 0 %}
                            	Email adresa je već zauzeta
                            {% endif %}
						</label></th>
					</tr>
				</table>
			</div>
		</form>
		<script>
			function proveri() {
				var popunjeno = true;

				if(document.getElementById("email").value == ""){
					popunjeno = false
					document.getElementById('lemail').innerHTML = 'Ovo polje je obavezno!';
				}
				else if(document.getElementById("email").value.includes("@") == false || document.getElementById("email").value.includes(".") == false){
					popunjeno = false
					document.getElementById('lemail').innerHTML = 'Email koji ste uneli je pogresan!';
				}
				else{
					document.getElementById('lemail').innerHTML = '';
				}

				if(document.getElementById("password").value == ""){
					popunjeno = false
					document.getElementById('lpassword').innerHTML = 'Ovo polje je obavezno!';
				}
				else if(document.getElementById("password").value.length < 8){
					popunjeno = false
					document.getElementById('lpassword').innerHTML = 'Lozinka mora da sadrzi minimalno 8 karaktera!';
				}
				else{
					document.getElementById('lpassword').innerHTML = '';
				}

				if(document.getElementById("password2").value == ""){
					popunjeno = false
					document.getElementById('lpassword2').innerHTML = 'Ovo polje je obavezno!';
				}
				else if(document.getElementById("password2").value != document.getElementById("password").value){
					popunjeno = false
					document.getElementById('lpassword2').innerHTML = 'Lozinke se ne poklapaju';
				}
				else{
					document.getElementById('lpassword2').innerHTML = '';
				}
				if(document.getElementById("ime").value == ""){
					popunjeno = false
					document.getElementById('lime').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('lime').innerHTML = '';
				}

				if(document.getElementById("prezime").value == ""){
					popunjeno = false
					document.getElementById('lprezime').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('lprezime').innerHTML = '';
				}

				if(document.getElementById("adresa").value == ""){
					popunjeno = false
					document.getElementById('ladresa').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('ladresa').innerHTML = '';
				}

				if(document.getElementById("grad").value == ""){
					popunjeno = false
					document.getElementById('lgrad').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('lgrad').innerHTML = '';
				}

                if(document.getElementById("drzava").value == ""){
					popunjeno = false
					document.getElementById('ldrzava').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('ldrzava').innerHTML = '';
				}

                if(document.getElementById("btelefona").value == ""){
					popunjeno = false
					document.getElementById('lbtelefona').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('lbtelefona').innerHTML = '';
				}

				if(document.getElementById("jmbgnt").value == ""){
					popunjeno = false
					document.getElementById('ljmbgnt').innerHTML = 'Ovo polje je obavezno!';
				}
				else{
					document.getElementById('ljmbgnt').innerHTML = '';
				}

				if(!popunjeno) {alert("Morate da pravilno popunite sva polja")}
				return popunjeno;
			}
		</script>
	    <style>
        input[type=text], input[type=number]:not(.avs), input[type=password], select{
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: "Times New Roman", Times, serif;
          font-size: 16px;
          font-weight: bold;
        }
        .sub {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          font-family: "Times New Roman", Times, serif;
          font-size: 16px;
          cursor: pointer;
          font-weight: bold;
        }
    </style>
	</body>
</html>