<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Eir - Registracija pacijent</title>    
    </head>
<body>
    <form action="glavnaStranica" onsubmit="return logovanje()">
        E-mail: <input type="text" id="email" name="mail" ><br>
        Lozinka: <input type="password" id="sifra" name="lozinka"> <br>
        Ponovi lozinku: <input type="password" id="sifra2" name="lozinka"> <br>
        Ime: <input type="text" id="ime" name="ime"><br>
        Prezime: <input type="text" id="prezime" name="prezime"><br>
        Adresa prebivalista: <input type="text" id="adresa" name="adresa"><br>
        Grad: <input type="text" id="grad" name="grad"><br>
        Drzava: <input type="text" id="drzava" name="drzava"><br>
        Broja telefona: <input type="text" id="broj" name="broj"><br>
        Jedinstveni broj osiguranika: <input type="text" id="jedinstveni" name="jedinstveni"><br>
        <br>
        <input type="submit" value="Registruj se"> 
    </form>

    <script>
        function logovanje() {
        var at = document.getElementById("email").value.indexOf("@");
        var loz = document.getElementById("sifra").value;
        var loz2 = document.getElementById("sifra2").value;
        submitOK = "true";

        if (at == -1) {
            alert("Nije validan email!");
            submitOK = "false";
        }

        if(loz != loz2){
            alert("Nije ista lozinka!");
            submitOK = "false";
        }

        if (submitOK == "false") {
            return false;
        }
        }
    </script>

</body>
</html>