<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Eir - Registracija pacijent</title>    
    </head>
<body>
    <form method="POST" action="registracijaPacijent" onsubmit="return logovanje()">
        {% csrf_token %}
        E-mail: <input type="text" id="email" name="email" ><br>
        Lozinka: <input type="text" id="sifra" name="sifra"> <br>
        Ponovi lozinku: <input type="text" id="sifra2" name="sifra2"> <br>
        Ime: <input type="text" id="ime" name="ime"><br>
        Prezime: <input type="text" id="prezime" name="prezime"><br>
        Adresa prebivalista: <input type="text" id="adresa" name="adresa"><br>
        Grad: <input type="text" id="grad" name="grad"><br>
        Drzava: <input type="text" id="drzava" name="drzava"><br>
        Broja telefona: <input type="text" id="broj" name="broj"><br>
        Jedinstveni broj osiguranika: <input type="text" id="jedinstveni" name="jedinstveni"><br>
        <br>
        <input type="submit" value="Registruj se"> 
    </form>

    <script>
        function logovanje() {
        var at = document.getElementById("email").value.indexOf("@");
        var loz = document.getElementById("sifra").value;
        var loz2 = document.getElementById("sifra2").value;
        submitOK = "true";

        if (at == -1) {
            alert("Nije validan email!");
            submitOK = "false";
        }

        if(loz != loz2){
            alert("Nije ista lozinka!");
            submitOK = "false";
        }

        if (submitOK == "false") {
            return false;
        }

        if(document.getElementById("ime")==""){
            alert("Ime je prazno!");
            submitOK = "false";
        }else if(document.getElementById("prezime")==""){
            alert("Prezime je prazno!");
            submitOK = "false";
        }else if(document.getElementById("adresa")==""){
            alert("adresa je prazno!");
            submitOK = "false";
        }else if(document.getElementById("grad")==""){
            alert("grad je prazno!");
            submitOK = "false";
        }else if(document.getElementById("drzava")==""){
            alert("drzava je prazno!");
            submitOK = "false";
        }else if(document.getElementById("broj")==""){
            alert("broj je prazno!");
            submitOK = "false";
        }else if(document.getElementById("jedinstveni")==""){
            alert("jedinstveni je prazno!");
            submitOK = "false";
        }
        }
    </script>

</body>
</html>